.center {
    text-align: center;
}

.pretty {
    font-family: "Rubik";
}

.dice {
    display: inline-block;
    margin: 5px;
}

.container {
    width: 50%;
    font-family: "Pangolin";
    border: 1px solid black;
    background-color: #943505;
    color: white;
}

body {
    background-color: #c9390f;
}

.dice img {
    height: 200px;
    width: 200px;
}

.next-item {
    margin-top:10px;
}

h1 {
    padding-top: 20px;
}

#dice-container {
    background-color: #943505;
    margin-top: 150px;
    padding-top: 30px;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
