{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit page
{% endblock %}

{% block body %}
<h1>Edit page</h1>
<form action="{% url 'sucess' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="title" placeholder="Enter a title" style="width: 80%;" value="{{ title }}">
    </div>
    <div class="mb-3">
        <textarea name="content" style="height: 20vh;" placeholder="Enter some text.">{{ content }}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Edit</button>
</form>
{% endblock %}