{% extends "encyclopedia/layout.html" %}

{% block title %}
New page
{% endblock %}

{% block body %}
<h1>Create New page</h1>
<form action="{% url 'new_page' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="title" placeholder="Enter a title" style="width: 80%;">
    </div>

    <div class="mb-3">
        <textarea name="content" style="height: 40vh; resize: none;" placeholder="Enter some text."></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}